<app-page-header [title]="'Accordion'"></app-page-header>

<!--Row-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Defalut Accordion</h3>
      </div>
      <div class="card-body">
        <div ngbAccordion activeIds="panels" #acc="ngbAccordion">
          <!-- Panel 1 -->
          <div ngbAccordionItem="panel-1" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Collapsible Group Item #1</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson
                  ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                  nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                  coffee nulla assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                  cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                  craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                  accusamus labore sustainable.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 2 -->
          <div ngbAccordionItem="panel-2" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Collapsible Group Item #2</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson
                  ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                  quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squid single-origin coffee nulla assumrighta shoreditch et. Nihil anim keffiyeh
                  helvetica, craft beer labore.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 3 -->
          <div ngbAccordionItem="panel-3" class="acc-card">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Collapsible Group Item #3</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson
                  ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                  quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squid single-origin coffee nulla assumrighta shoreditch et. Nihil anim keffiyeh
                  helvetica, craft beer labore.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Closed Accordion</h3>
      </div>
      <div class="card-body">
        <div ngbAccordion [closeOthers]="true">
          <!-- Panel 1 -->
          <div ngbAccordionItem="static-1" class="panel-heading">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Collapsible Group Item #1</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squid single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                  vegan excepteur butcher vice lomo.
                  Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                  heard of them accusamus labore sustainable.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 2 -->
          <div ngbAccordionItem="static-2" class="panel-heading">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Collapsible Group Item #2</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squid single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 3 -->
          <div ngbAccordionItem="static-3" class="panel-heading">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Collapsible Group Item #3</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squidsingle-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Row-->

<!--Row-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Closed Accordion</h3>
      </div>
      <div class="card-body">
        <div ngbAccordion [closeOthers]="true">
          <!-- Panel 1 -->
          <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <span class="d-flex align-items-center">
                  <i class="mx-2 fa fa-minus-circle"></i>
                  Select 1
                </span>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squid single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                  vegan excepteur butcher vice lomo.
                  Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                  heard of them accusamus labore sustainable.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 2 -->
          <div ngbAccordionItem="static-2">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <span class="d-flex align-items-center">
                  <i class="mx-2 fa fa-minus-circle"></i>
                  Select 2
                </span>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squid single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 3 -->
          <div ngbAccordionItem="static-3">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <span class="d-flex align-items-center">
                  <i class="mx-2 fa fa-minus-circle"></i>
                  Select 3
                </span>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                  squidsingle-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Row-->

<!--Row-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Color Accordion Style</h3>
      </div>
      <div class="card-body">
        <div class="panel-group1" id="accordion1">
          <div class="panel panel-default mb-4 overflow-hidden">
            <div class="panel-heading1">
              <h4 class="panel-title1">
                <a class="accordion-toggle firstgradient bg-gradient-primary collapsed "
                  (click)="FirstGradient()">Section 1</a>
              </h4>
            </div>
            <div *ngIf="isFirstGradient">
              <div class="panel-collapse">
                <div class="panel-body">
                  <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It uses a
                    dictionary of over 200 Latin words </p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues
                    or desires to obtain pain of itself, because it is pain, but
                    because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                    To take a trivial example, which of us ever undertakes laborious
                    physical exercise</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default overflow-hidden">
            <div class="panel-heading1">
              <h4 class="panel-title1">
                <a class="accordion-toggle secondgradient bg-gradient-primary collapsed"
                  (click)="SecondGradient()">Section 2</a>
              </h4>
            </div>
            <div class="panel-collapse" *ngIf="isSecondGradient">
              <div class="panel-body">
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                  this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or
                  desires to obtain pain of itself, because it is pain, but
                  because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                  To take a trivial example, which of us ever undertakes laborious
                  physical exercise</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Row-->

<!--Row-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Toggle Accordion</h3>
      </div>
      <div class="card-body">
        <div ngbAccordion #accToggle="ngbAccordion">
          <!-- Panel 1 -->
          <div ngbAccordionItem="toggle-1" class="custom-class">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>First panel</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 2 -->
          <div ngbAccordionItem="toggle-2" class="custom-class">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Second</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <button class="btn btn-sm btn-outline-primary me-2" (click)="accToggle.toggle('toggle-1')">Toggle first</button>
        <button class="btn btn-sm btn-outline-primary me-2" (click)="accToggle.toggle('toggle-2')">Toggle
          second</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Multiple targets Accordion</h3>
      </div>
      <div class="card-body">
        <div ngbAccordion #a="ngbAccordion">
          <!-- Panel 1 -->
          <div ngbAccordionItem="custom-panel-1" class="custom-class">
            <div ngbAccordionHeader>
              <button ngbAccordionToggle class="btn btn-link container-fluid text-left p-0">
                <div class="d-flex align-items-center justify-content-between">
                  <span>Toggle first</span>
                  <h5 class="p-2 w-100 m-0">First panel - {{ a.isExpanded('custom-panel-1') ? 'opened' : 'collapsed' }}</h5>
                </div>
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                  helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                  Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                  accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 2 -->
          <div ngbAccordionItem class="custom-class">
            <div ngbAccordionHeader>
              <div class="d-flex align-items-center justify-content-between p-3">
                <h5 class="m-0">Second panel</h5>
                <div class="ms-auto">
                  <button ngbAccordionToggle class="btn btn-sm btn-outline-primary ms-2 mb-1">Toggle second</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary ms-2 mb-1" (click)="disabled = !disabled">
                    {{ disabled ? 'En' : 'Dis' }}able third
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-danger ms-2 mb-1" (click)="a.collapseAll()">
                    Collapse all
                  </button>
                </div>
              </div>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                  helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                  Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                  accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 3 -->
          <div ngbAccordionItem [disabled]="disabled" [class.disabled]="disabled" class="custom-class">
            <div ngbAccordionHeader>
              <button ngbAccordionToggle class="btn btn-link container-fluid text-left pl-0">
                <div class="d-flex align-items-center justify-content-around">
                  <span>Third panel</span>
                  <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
                </div>
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                  helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                  Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                  accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Row-->
<!--Row-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Prevent Panel Toggle</h3>
      </div>
      <div class="card-body">
        <div ngbAccordion>
          <!-- Panel 1 -->
          <div ngbAccordionItem="preventchange-1" class="custom-class">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Simple</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                  helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                  Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                  accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 2 -->
          <div ngbAccordionItem="preventchange-2" class="custom-class">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>I can't be toggled...</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                  helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                  Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                  accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 3 -->
          <div ngbAccordionItem="preventchange-3" class="custom-class">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>I can be opened, but not closed...</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                  helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                  Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                  accusamus
                  labore sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Row-->
