<app-page-header [title]="'Faqs'"></app-page-header>
<!-- Row-->
<div class="row ">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-bottom-0">
        <h3 class="card-title">Faqs</h3>
      </div>
      <div class="card-body">
        <div ngbAccordion #acc="ngbAccordion" activeIds="panels">
          <!-- Panel 1: How To Insert All The Plugins? -->
          <div ngbAccordionItem="ngb-panel-0">
            <h2 ngbAccordionHeader class="panel-heading panel-default">
              <button ngbAccordionButton>How To Insert All The Plugins?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 2: How Can I contact? -->
          <div ngbAccordionItem="ngb-panel-1">
            <h2 ngbAccordionHeader class="panel-heading panel-default">
              <button ngbAccordionButton>How Can I contact?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 3: Can I use this Plugins in Another Template? -->
          <div ngbAccordionItem="ngb-panel-2">
            <h2 ngbAccordionHeader class="panel-heading panel-default">
              <button ngbAccordionButton>Can I use this Plugins in Another Template?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 4: It is Easy to Customizable? -->
          <div ngbAccordionItem="ngb-panel-3">
            <h2 ngbAccordionHeader class="panel-heading panel-default">
              <button ngbAccordionButton>It is Easy to Customizable?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 5: How can I download This template? -->
          <div ngbAccordionItem="ngb-panel-4">
            <h2 ngbAccordionHeader class="panel-heading panel-default">
              <button ngbAccordionButton>How can I download This template?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Panel 6: How Can I Add another page in Template? -->
          <div ngbAccordionItem="ngb-panel-5">
            <h2 ngbAccordionHeader class="panel-heading panel-default">
              <button ngbAccordionButton>How Can I Add another page in Template?</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Anim pariatur cliche reprehrighterit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumrighta shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-lg-0">
      <div class="card-header border-bottom-0">
        <h3 class="card-title">Ask Question</h3>
      </div>
      <div class="card-body">
        <h5>If Your Query Not Clarifified Post Your Question, My Customer Support will help You</h5>
        <div class="pt-4">
          <div class="form-group">
            <input type="text" class="form-control" id="name1" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="example-textarea-input" rows="6"
              placeholder="Post Your Quesry"></textarea>
          </div>
          <a href="javascript:;" class="btn btn-primary">Send Question</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row-->
