:host {
  display: block;
  min-height: 100vh;
  background-image: url('../../../assets/images/laritechfarms/11.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::ng-deep {
  .firebase {
    width: 30px;
    height: 30px;
  }

  .nav-tabs {
    border-color: none !important;
  }
}
