<app-hr-dashboard-page-header [title]="'Proyectos'" [title2]="'Nuevo Proyecto'" [class]="'btn btn-primary'"
  [class1]="''" [path]="'/dashboard/project-dashboard/new-project'">
</app-hr-dashboard-page-header>
<!-- Row -->
<div class="row">
    <div class="col-xl-2 col-lg-6 col-md-12">
        <div class="card custom-card">
            <a href="javascript:void(0);">
                <div class="card-body text-center">
                    <span class="avatar avatar-lg bradius fs-20 bg-primary-transparent">125</span>
                    <h5 class="mb-0 mt-3">Total Proyectos</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12">
        <div class="card custom-card">
            <a href="javascript:void(0);">
                <div class="card-body text-center">
                    <span class="avatar avatar-lg bradius fs-20 bg-orange-transparent">33</span>
                    <h5 class="mb-0 mt-3">Proyectos Pendientes</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12">
        <div class="card custom-card">
            <a href="javascript:void(0);">
                <div class="card-body text-center">
                    <span class="avatar avatar-lg bradius fs-20 bg-secondary-transparent">56</span>
                    <h5 class="mb-0 mt-3">Proyectos En Curso</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12">
        <div class="card custom-card">
            <a href="javascript:void(0);">
                <div class="card-body text-center">
                    <span class="avatar avatar-lg bradius fs-20 bg-info-transparent">08</span>
                    <h5 class="mb-0 mt-3">Proyectos No Iniciados</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12">
        <div class="card custom-card">
            <a href="javascript:void(0);">
                <div class="card-body text-center">
                    <span class="avatar avatar-lg bradius fs-20 bg-success-transparent">35</span>
                    <h5 class="mb-0 mt-3">Proyectos Completados</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12">
        <div class="card custom-card">
            <a href="javascript:void(0);">
                <div class="card-body text-center">
                    <span class="avatar avatar-lg bradius fs-20 bg-danger-transparent">02</span>
                    <h5 class="mb-0 mt-3">Proyectos Cancelados</h5>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card custom-card">
            <div class="card-header d-flex justify-content-between border-bottom-0">
                <h4 class="card-title">Resumen de Proyectos Recientes</h4>
                <div class="float-end">
                    <div class="input-group">
                        <input class="form-control" placeholder="Buscar....." type="text">
                        <button class="btn btn-light br-ts-0 br-bs-0">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xxl-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Desde:</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                            <input type="text" mwlFlatpickr class="form-control choose-date" placeholder="DD-MM-YYYY">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Hasta:</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                            <input type="text" mwlFlatpickr class="form-control choose-date" placeholder="DD-MM-YYYY">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="form-group">
                            <label class="form-label">Asignar A:</label>
                            <ng-select class="form-control custom-select p-0" data-trigger placeholder="Seleccionar Empleado">
                                <ng-option value="">Seleccionar Empleado</ng-option>
                                <ng-option value="1">Faith Harris</ng-option>
                                <ng-option value="2">Austin Bell</ng-option>
                                <ng-option value="3">Maria Bower</ng-option>
                                <ng-option value="4">Peter Hill</ng-option>
                                <ng-option value="5">Victoria Lyman</ng-option>
                                <ng-option value="6">Adam Quinn</ng-option>
                                <ng-option value="7">Melanie Coleman</ng-option>
                                <ng-option value="8">Max Wilson</ng-option>
                                <ng-option value="9">Amelia Russell</ng-option>
                                <ng-option value="10">Justin Metcalfe</ng-option>
                                <ng-option value="11">Ryan Young</ng-option>
                                <ng-option value="12">Jennifer Hardacre</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="form-group">
                            <label class="form-label">Seleccionar Prioridad:</label>
                            <ng-select class="form-control custom-select p-0" data-trigger placeholder="Alta">
                                <ng-option value="">Alta</ng-option>
                                <ng-option value="1">Media</ng-option>
                                <ng-option value="2">Baja</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xxl-1 col-xl-3 ps-xxl-0">
                        <div class="form-group mt-2">
                            <label class="form-label"></label>
                            <a href="javascript:void(0);" class="btn btn-primary d-grid">Buscar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border-top">
                <div class="row mb-3 gap-1 gap-lg-0">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <span>Mostrar</span>
                            <div class="d-flex ms-2 mx-2">
                                <div class="form-group mb-0">
                                    <ng-select name="quantity" [ngModel]="pageSize"
                                        (ngModelChange)="onPageSizeChange($any($event))"
                                        class="form-control wd-150 p-0">
                                        <ng-option [value]="10">10</ng-option>
                                        <ng-option [value]="25">25</ng-option>
                                        <ng-option [value]="50">50</ng-option>
                                        <ng-option [value]="100">100</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <span>registros</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="float-end">
                            <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 text-nowrap text-md-nowrap table-bordered border">
                        <thead>
                            <tr class="border-bottom">
                                <th scope="col">ID</th>
                                <th scope="col">Título Proyecto</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Equipo</th>
                                <th scope="col">Prioridad</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Fecha Límite</th>
                                <th scope="col">Progreso</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (row of projects; track row.ID) {
                            <tr class="border-bottom">
                                <td class="text-center">{{row.ID}}</td>
                                <td>
                                    <div class="d-flex">
                                        <span class="bg-{{row.projectTitleStatus}} dot-label1 me-2 mt-1"></span>
                                        <span>{{row.projectTitle}}</span>
                                    </div>
                                </td>
                                <td>{{row.client}}</td>
                                <td>
                                    @for (team of row.TeamMemeber; track $index) {
                                    <div class="avatar-list-stacked">
                                        @if (team.team1) {
                                        <span class="avatar avatar-md me-2 avatar-rounded">
                                            <img [src]="team.team1" alt="img">
                                        </span>
                                        }
                                        @if (team.team2) {
                                        <span class="avatar avatar-md me-2 avatar-rounded">
                                            <img [src]="team.team2" alt="img">
                                        </span>
                                        }
                                        @if (team.team3) {
                                        <span class="avatar avatar-md me-2 avatar-rounded">
                                            <img [src]="team.team3" alt="img">
                                        </span>
                                        }
                                        @if (team.team4) {
                                        <span class="avatar avatar-md me-2 avatar-rounded">
                                            <img [src]="team.team4" alt="img">
                                        </span>
                                        }
                                    </div>
                                    }
                                </td>
                                <td>
                                    <span class="badge bg-{{row.priorityStatus}}-transparent">{{row.priority}}</span>
                                </td>
                                <td>{{row.startDate}}</td>
                                <td>{{row.deadline}}</td>
                                <td>
                                    <div class="d-flex align-items-end justify-content-between">
                                        <h6 class="fs-12">{{row.workProgressText}}</h6>
                                        <h6 class="fs-12">{{row.workProgressPercentage}}%</h6>
                                    </div>
                                    <ngb-progressbar class="me-3" type="{{row.workProgressPercentageStatus}}" height="0.5rem" [value]="row.workProgressPercentage"></ngb-progressbar>
                                </td>
                                <td>
                                    <span class="badge bg-{{row.status}} me-1">{{row.statusText}}</span>
                                    @if (row.statusTextIcon) {
                                    <span class="fe fe-{{row.statusTextIcon}} text-danger" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Retrasado por 99 días"></span>
                                    }
                                </td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <a routerLink="/dashboard/project-dashboard/view-project"
                                            class="btn btn-primary btn-icon" data-bs-toggle="tooltip"
                                            title="Ver Proyecto">
                                            <i class="fe fe-eye"></i>
                                        </a>
                                        <a (click)="edit(editContent)" class="btn btn-success btn-icon"
                                            data-bs-toggle="tooltip" title="Editar">
                                            <i class="fe fe-edit-2"></i>
                                        </a>
                                        <a (click)="removeData(row.ID)" class="btn btn-danger btn-icon"
                                            data-bs-toggle="tooltip" title="Eliminar">
                                            <i class="fe fe-trash-2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            } @empty {
                            <tr>
                                <td colspan="10" class="text-center py-4">
                                    <div class="text-muted">
                                        <i class="fe fe-inbox fs-24 mb-2 d-block"></i>
                                        <p>No hay registros disponibles</p>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- Start::pagination -->
                <nav class="mt-4">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" href="javascript:void(0);"
                                (click)="onPageChange(currentPage - 1)">Anterior</a>
                        </li>
                        @for (page of [].constructor(totalPages); track $index) {
                        <li class="page-item" [class.active]="currentPage === $index + 1">
                            <a class="page-link" href="javascript:void(0);"
                                (click)="onPageChange($index + 1)">{{ $index + 1 }}</a>
                        </li>
                        }
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link" href="javascript:void(0);"
                                (click)="onPageChange(currentPage + 1)">Siguiente</a>
                        </li>
                    </ul>
                </nav>
                <!-- End::pagination -->
            </div>
        </div>
    </div>
</div>
<!-- End::row-2 -->

<ng-template #editContent let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Proyecto</h5>
            <button class="btn-close" (click)="modal.close('cross click')" data-bs-dismiss="modal" aria-label="Cerrar">
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">ID Proyecto</label>
                        <input class="form-control" placeholder="Número" value="#67">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Título Proyecto</label>
                        <input class="form-control" placeholder="Texto" value="Mobile App">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Departamento:</label>
                        <ng-select class="form-control custom-select p-0" data-trigger placeholder="Seleccionar Departamento">
                            <ng-option value="1">Designing Department</ng-option>
                            <ng-option value="2">Development Department</ng-option>
                            <ng-option value="3">Marketing Department</ng-option>
                            <ng-option value="4">Human Resource Department</ng-option>
                            <ng-option value="5">Managers Department</ng-option>
                            <ng-option value="6" selected>Application Department</ng-option>
                            <ng-option value="7">Support Department</ng-option>
                            <ng-option value="8">IT Department</ng-option>
                            <ng-option value="9">Technical Department</ng-option>
                            <ng-option value="10">Accounts Department</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Prioridad del Proyecto:</label>
                        <ng-select class="form-control custom-select p-0" data-trigger placeholder="Seleccionar Prioridad">
                            <ng-option value="1" selected>Alta</ng-option>
                            <ng-option value="2">Media</ng-option>
                            <ng-option value="3">Baja</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Cliente:</label>
                        <ng-select class="form-control custom-select p-0" data-trigger placeholder="Ingresar Cliente">
                            <ng-option value="1" selected>Julia Walker</ng-option>
                            <ng-option value="2">Cliente 02</ng-option>
                            <ng-option value="3">Cliente 03</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">($)Precio:</label>
                        <input class="form-control" placeholder="Ingresar Precio ej:$69.00" value="$170.00">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Equipo Asignado:</label>
                <ng-select class="form-control p-0" name="choices-multiple-remove-button" id="choices-multiple-remove-button" [hideSelected]="true" [multiple]="true" [(ngModel)]="selected">
                    <ng-option value="1">Faith Harris</ng-option>
                    <ng-option value="2">Austin Bell</ng-option>
                    <ng-option value="3">Maria Bower</ng-option>
                    <ng-option value="4">Peter Hill</ng-option>
                    <ng-option value="5">Victoria Lyman</ng-option>
                    <ng-option value="6">Adam Quinn</ng-option>
                    <ng-option value="7">Melanie Coleman</ng-option>
                    <ng-option value="8">Max Wilson</ng-option>
                    <ng-option value="9">Amelia Russell</ng-option>
                    <ng-option value="10">Justin Metcalfe</ng-option>
                    <ng-option value="11">Ryan Young</ng-option>
                    <ng-option value="12">Jennifer Hardacre</ng-option>
                    <ng-option value="13">Justin Parr</ng-option>
                    <ng-option value="14">Julia Hodges</ng-option>
                    <ng-option value="15">Michael Sutherland</ng-option>
                </ng-select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Desde:</label>
                        <div class="input-group">
                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                            <input type="text" mwlFlatpickr class="form-control choose-date" placeholder="DD-MM-YYYY">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Hasta:</label>
                        <div class="input-group">
                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                            <input type="text" mwlFlatpickr class="form-control choose-date" placeholder="DD-MM-YYYY">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Descripción:</label>
                <div class="summernote">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </div>
            <div class="form-group">
                <label class="form-label">Subir Archivos:</label>
                <div class="form-group">
                    <label class="form-label"></label>
                    <input class="form-control" type="file">
                </div>
            </div>
            <div class="custom-controls-stacked d-md-flex">
                <label class="form-label mt-1 me-5">Estado de Trabajo:</label>
                <div class="form-check mb-0 me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Activo</label>
                </div>
                <div class="form-check mb-0 me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">Completado</label>
                </div>
                <div class="form-check mb-0 me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">En Curso</label>
                </div>
                <div class="form-check mb-0 me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                    <label class="form-check-label" for="flexRadioDefault4">Pendiente</label>
                </div>
                <div class="form-check mb-0 me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                    <label class="form-check-label" for="flexRadioDefault5">No Iniciado</label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
                    <label class="form-check-label" for="flexRadioDefault6">Cancelado</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-primary" (click)="modal.close('cross click')" data-bs-dismiss="modal">Cerrar</button>
            <button class="btn btn-success successful-notify">Enviar</button>
        </div>
    </div>
</ng-template>
