@import "./assets/css/bootstrap.css";
@import "./assets/css/icons.css";
@import "./assets/css/styles.css";
//flatepicker
@import 'flatpickr/dist/flatpickr.css';
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/overlayscrollbars/styles/overlayscrollbars.css';

@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/@wfpena/angular-wysiwyg/index";
@import "../node_modules/@angular/cdk/overlay-prebuilt.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
